{% extends base_template %}
{% trans_default_domain 'AppBundle' %}

{% block title %}
    {{ 'Stuff Group List'|trans }}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{%- block actions -%}
    {% include '@SonataAdmin/CRUD/action_buttons.html.twig' %}
{%- endblock -%}

{% block show %}

    <div class="box box-primary" id="tree-wrapper">
        <div class="box-header"></div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-9">
                    {% if htmlTree is defined and htmlTree %}
                        <div id="tree">{{ htmlTree|raw }}</div>
                    {% else %}
                        <p>
                            {{ 'No elements'|trans }}
                        </p>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    <div id="tree-node-info"></div>
                </div>
            </div>
        </div>
    </div>

    <link href="{{ asset('js/jstree/dist/themes/default/style.min.css') }}" rel="stylesheet">
    <script src="{{ asset('js/jstree/dist/jstree.min.js') }}"></script>
    <script>
        $(function(){
            $('#tree-node-info').affix();

            $('#tree').on('changed.jstree', function (e, data) {
                var id = $("#" + data.selected[0] + '_anchor').data('id');
            }).jstree({
                core: {
                    multiple: false,
                    check_callback: true,
                    themes: {
                        variant: "large",
                        icons: false
                    }
                },
                contextmenu: {
                    items: {
                        show: {
                            label: '{{ 'action_show'|trans({}, 'SonataAdminBundle') }}',
                            icon: 'fa fa-search-plus',
                            action: function (data) {
                                var url = "{{ path('admin_app_stuffgroup_show', {id: 1}) }}";
                                document.location.href = url.replace(1, data.reference.data('id'));
                            }
                        },
                        edit: {
                            label: '{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}',
                            icon: 'fa fa-pencil',
                            action: function (data) {
                                var url = "{{ path('admin_app_stuffgroup_edit', {id: 1}) }}";
                                document.location.href = url.replace(1, data.reference.data('id'));
                            }
                        },
                        delete: {
                            label: '{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}',
                            icon: 'fa fa-trash',
                            action: function (data) {
                                var url = "{{ path('admin_app_stuffgroup_delete', {id: 1}) }}";
                                document.location.href = url.replace(1, data.reference.data('id'));
                            },
                            _disabled: function (data) {
                                return data.reference.data('disabled');
                            }
                        },
                        add_children: {
                            label: '{{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}',
                            icon: 'fa fa-plus',
                            action: function (data) {
                                var url = "{{ path('admin_app_stuffgroup_create', {parent: 1}) }}";
                                document.location.href = url.replace(1, data.reference.data('id'));
                            },
                            _disabled: function (data) {
                                return data.reference.data('is-last') || data.reference.data('disabled');
                            }
                        }
                    }
                },
                plugins: ["contextmenu"]
            });

            $('#tree').jstree('open_all');
        });
    </script>


{% endblock %}
